@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: rgb(55, 57, 59); */
}


::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(103, 102, 102); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #000000; 
}
